#anima-container {
    position: absolute;

    top: 0;
    left:0;
    height:100%;
    width: 100%;

    margin:0;
    padding:0;

    overflow:hidden;

    z-index:10;

    background: #fff;
}

.anima-frame {
    display: none;
    height:100%;
    width: 100%;
}

/*  */

.anima-text {
    text-align:center;
    font: 20px "arial";
    color:#555;
    margin-top:10%;
}

#anima-figure-1 {
    width: 800px;
    height: 600px;
    background-image: url("../img/anima.png");
}