<!--anima module struct -->
<div id="anima-container" class="aria-live">
    <div class="anima-frame">
        <center>
            <figure id="anima-figure-1">
                <figcaption class="awt-hidden-accessible">
                    Imagem exibindo as seguintes logos: projeto LOA - Laboratório de Objetos de Aprendizagem, SEaD-UFSCar
                    (Secretaria de educação à Distância), PROEX, UFSCar (Universidade Federal de São Carlos), Governo Federal
                    - Brasil - Pais rico é pais sem probreza.
                </figcaption>
            </figure>
        </center>
    </div>

    <div class="anima-frame anima-text">
        Apresenta ...
    </div>
</div>